/* Light Mode (Default) */
body {
  background-color: #f8f9fa;
  color: #212529;
  transition: all 0.3s ease-in-out;
}

/* Dark Mode */
.dark-mode {
  background-color: #212529;
  color: #ffffff;
}

/* Dark Mode Components */
.dark-mode .card {
  background-color: #343a40;
  color: #ffffff;
}

.dark-mode .btn-primary {
  background-color: #6c757d;
  border-color: #6c757d;
}

.dark-mode .btn-primary:hover {
  background-color: #5a6268;
}

.dark-mode .bg-secondary {
  background-color: #495057 !important;
}

.dark-mode .btn-light {
  background-color: #ffffff;
  color: #212529;
}

.dark-mode .btn-light:hover {
  background-color: #e0e0e
}

.dark-mode {
  border-right: 2px solid white;
}

.light-mode {
  border-right: 2px solid black;
}
